@model Web_FIA44_ThreeTierArticleApp.Models.Article

@{
    ViewData["Title"] = "Artikel ändern";
}

<h1></h1>
<div class="container justify-content-center bg-tertiary">
<h4 class="text-center p-3 mb-2 ">@Model.Name</h4>
<p class="text-center p-1 text-danger">Hier können sie die Daten des Artikels ändern</p>
	<hr />
</div>
<div class="row">
    <div class="d-flex justify-content-center">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                
                <input asp-for="AId" hidden class="form-control" />
                
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price"  class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
                <br />
            <div class="form-group form-check form-switch col-form-label">
                <label class="form-check-label text-capitalize">
                    <input class="form-check-input" asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
                </label>
            </div>
                <br />
			<div class="form-group">
				<a class="btn btn-outline-secondary" asp-action="Index">Zurück zur Liste</a>
                <input class="btn btn-outline-secondary" type="submit" value="Änderungen speichern" />
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
